<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Date de début proposée</th>
        <th>Date de fin proposée</th>
        <th class="text-right">Voter</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Marie</td>
        <td>15/06/2020</td>
        <td>17/06/2020</td>
        <td class="td-actions text-right">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-sign">
            <span class="check"></span>
        </span>
                </label>
            </div>
        </td>
    </tr>
    <tr>
        <td>Marc</td>
        <td>14/06/2020</td>
        <td>15/06/2020</td>
        <td class="td-actions text-right">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-sign">
            <span class="check"></span>
        </span>
                </label>
            </div>
        </td>
    </tr><tr>
        <td>Amélie</td>
        <td>17/06/2020</td>
        <td>18/06/2020</td>
        <td class="td-actions text-right">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-sign">
            <span class="check"></span>
        </span>
                </label>
            </div>
        </td>
    </tr>
    </tbody>
</table>
