<table class="table">
    <thead>
    <tr>
        <th>Evenement</th>
        <th>Organisateur</th>
        <th>Participants</th>
        <th>Du</th>
        <th>Au</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events">
        <td>{{event.title}}</td>
        <td>{{event.creator}}</td>
        <td>{{event.participants}}</td>
        <td>{{event.begin}}</td>
        <td>{{event.end}}</td>
        <td class="td-actions text-right">
            <button type="button" rel="tooltip" class="btn btn-neutral btn-sm" [routerLink]="['/event/' + event.idEvent]">
                <i class="tim-icons icon-single-02 mr-1"></i> Participer
            </button>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            <i class="page-link tim-icons icon-double-left" href="#" aria-hidden="true"></i>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item enable">
            <i class="page-link tim-icons icon-double-right" href="#" aria-hidden="true"></i>
        </li>
    </ul>
</nav>
