<app-navbar></app-navbar>

<div class="wrapper">
    <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo">Dodle•Me</h1>
                <h3>
                    Réunissez les Miagistes<br>
                    <br>
                    <a [routerLink]="['/event/create']" class="btn btn-lg btn-round btn-miage">
                        <i class="tim-icons icon-simple-add"></i>&nbsp;&nbsp;Créer un événement
                    </a>
                </h3>
            </div>
        </div>
    </div>
    <div class="main">
        <section class="section section-lg">
            <div class="container">
                <div class="container">
                    <h1 class="h1-seo text-center font-weight-bold">Liste des événements</h1>
                    <app-eventlist></app-eventlist>
                </div>
            </div>
        </section>
        <section class="section section-lg">
            <div class="container">
                <h3 class="text-center">Avec Dodle.Me, planifier est simple et rapide.</h3>
                <p class="text-center">
                    Application web gérant les disponibilités d’un groupe de personnes pour fixer des
                    évènements, style « Doodle ® »
                </p>
                <div class="row justify-content-center">
                    <div class="col-lg-3">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="tim-icons icon-spaceship"> </i>
                            </div>
                            <h4 class="info-title">Organisez des réunions</h4>
                            <hr class="line-primary" />
                            <p>
                                Divide details about your work into parts. Write a few lines
                                about each one. A paragraph describing a feature will.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info">
                            <div class="icon icon-warning">
                                <i class="tim-icons icon-trophy"> </i>
                            </div>
                            <h4 class="info-title">Trouvez le meilleur moment</h4>
                            <hr class="line-warning" />
                            <p>
                                Divide details about your product or agency work into parts.
                                Write a few lines about each one. A paragraph describing
                                feature will be a feature.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="tim-icons icon-time-alarm"> </i>
                            </div>
                            <h4 class="info-title">Optimisez le temps</h4>
                            <hr class="line-success" />
                            <p>
                                Divide details about your product or agency work into parts.
                                Write a few lines about each one. A paragraph describing be
                                enough.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>
