<app-navbar></app-navbar>
<div class="wrapper">
    <div class="section section-tabs">
        <div class="container">
                <div class="title"><h1 class="mb-3">Consulter mes événements</h1></div>
                    <div class="row">
                            <div class="card">
                            <div class="card-header">
                                <tabset class="nav-tabs-miage">
                                    <tab heading="Evénements créés">
                                        <p>
                                            Ici, on retrouve le tableau des évènements créés par l'utilisateur.
                                            Un utilisateur anonyme ne peut pas consulter cette page.
                                            <app-createdevents></app-createdevents>
                                        </p>
                                    </tab>
                                    <tab heading="Evénements participés">
                                        <p>
                                            Ici, on retrouve les événements auxquels l'utilisateur a répondu.
                                            <app-consulteventlist></app-consulteventlist>
                                        </p>
                                    </tab>
                                </tabset>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    <app-footer></app-footer>
</div>


