<table class="table">
    <thead>
    <tr>
        <th>Evenement</th>
        <th>Organisateur</th>
        <th>Participants</th>
        <th>Du</th>
        <th>Au</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Pot de départ d'Anna</td>
        <td>Laurent</td>
        <td>10</td>
        <td>25 juin 2020</td>
        <td>4 août 2020</td>
        <td class="td-actions text-right">
            <button type="button" rel="tooltip" class="btn btn-info btn-sm">
                <i class="tim-icons icon-single-02"></i> Participer
            </button>
        </td>
    </tr>
    <tr>
        <td>Pot de départ d'Anna</td>
        <td>Laurent</td>
        <td>10</td>
        <td>25 juin 2020</td>
        <td>4 août 2020</td>
        <td class="td-actions text-right">
            <button type="button" rel="tooltip" class="btn btn-info btn-sm">
                <i class="tim-icons icon-single-02"></i> Participer
            </button>
        </td>
    </tr>
    <tr>
        <td>Pot de départ d'Anna</td>
        <td>Laurent</td>
        <td>10</td>
        <td>25 juin 2020</td>
        <td>4 août 2020</td>
        <td class="td-actions text-right">
            <button type="button" rel="tooltip" class="btn btn-info btn-sm">
                <i class="tim-icons icon-single-02"></i> Participer
            </button>
        </td>
    </tr>
    <tr>
        <td>Pot de départ d'Anna</td>
        <td>Laurent</td>
        <td>10</td>
        <td>25 juin 2020</td>
        <td>4 août 2020</td>
        <td class="td-actions text-right">
            <button type="button" rel="tooltip" class="btn btn-info btn-sm">
                <i class="tim-icons icon-single-02"></i> Participer
            </button>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>