<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3"><h1 class="title">Dodle•Me</h1></div>
            <div class="col-md-3">
                <ul class="nav">
                    <li class="nav-item">
                        <a [routerLink]="['/home']" class="nav-link"> Accueil </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav">
                    <li class="nav-item">
                        <!--Penser à changer le lien ou supprimer la partie Contact Us.-->
                        <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="title">Le projet:</h3>
                <div class="btn-wrapper profile">
                    <a class="btn btn-neutral btn-round btn-simple mr-1" href="https://github.com/antoalexju/DodleMe-WebUI"  target="_blank">
                        <i class="fab fa-github"> </i> GitHub Front-end
                    </a>
                    <a class="btn btn-neutral btn-round btn-simple mr-1" href="https://github.com/antoalexju/DodleMe-Server"  target="_blank">
                        <i class="fab fa-github"> </i> GitHub Back-end
                    </a>
                    <a class="btn btn-round btn-simple mr-1" href="https://github.com/antoalexju/DodleMe-WebUI"  target="_blank">
                        <i class="tim-icons icon-paper"> </i> Documentation
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
