<table class="table">
    <thead>
    <tr>
        <th>Evenement</th>
        <th>Participants</th>
        <th>Du</th>
        <th>Au</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Pot de départ d'Anna</td>
        <td>10</td>
        <td>25 juin 2020</td>
        <td>4 août 2020</td>
        <button type="button" rel="tooltip" class="btn btn-neutral btn-sm">
            <i class="tim-icons icon-key-25 mr-1"></i> Clôturer
        </button>

    </tr>
    <tr>
        <td>Réunion de famille</td>
        <td>6</td>
        <td>12 juin 2020</td>
        <td>13 juin 2020</td>
        <button type="button" rel="tooltip" class="btn btn-neutral btn-sm">
            <i class="tim-icons icon-key-25 mr-1"></i> Clôturer
        </button>

    </tr>
    <tr>
        <td>Réunion projet DodleMe!</td>
        <td>3</td>
        <td>5 juin 2020</td>
        <td>5 juin 2020</td>
        <button type="button" rel="tooltip" class="btn btn-neutral btn-sm">
            <i class="tim-icons icon-key-25 mr-1"></i> Clôturer
        </button>

    </tr>
    </tbody>
</table>
