<app-navbar></app-navbar>
<div class="wrapper">
    <div class="page-header">
        <div class="page-header-image"></div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 offset-lg-0 offset-md-3">
                        <div class="square square-7" id="square7"></div>
                        <div class="square square-8" id="square8"></div>
                        <div class="card card-register">
                            <div class="card-header">
                                <img alt="Card image" class="card-img-evt" src="assets/img/header1.jpg"/>
                                <h2 class="card-title">Créer un événement</h2>

                            </div>
                            <div class="card-body">
                                <form class="form" (ngSubmit)="onSubmit()" [formGroup]="eventForm">
                                    <div class="input-group" [ngClass]="{ 'input-group-focus': focus === true }" >
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-book-bookmark"> </i>
                                            </div>
                                        </div>
                                        <input class="form-control" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" placeholder="Nom de l'événement" type="text" (focus)="focus = true" (blur)="focus = false"/>
                                        <div *ngIf="f.title.errors" class="invalid-feedback" role="alert">Définissez le titre de votre événement</div>
                                    </div>

                                    <div class="input-group" [ngClass]="{ 'input-group-focus': focus1 === true }">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-square-pin"> </i>
                                            </div>
                                        </div>
                                        <input class="form-control" formControlName="location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" placeholder="Lieu de l'événement" type="text" (focus)="focus1 = true" (blur)="focus1 = false"/>
                                        <div *ngIf="f.location.errors" class="invalid-feedback" role="alert">Où se tient votre événement ?</div>
                                    </div>

                                    <div class="input-group" [ngClass]="{ 'input-group-focus': focus2 === true }">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-notes"> </i>
                                            </div>
                                        </div>
                                        <input class="form-control" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" placeholder="Description" type="text" (focus)="focus2 = true" (blur)="focus2 = false"/>
                                        <div *ngIf="f.description.errors" class="invalid-feedback" role="alert">Décrivez votre événement en quelques mots...</div>
                                    </div>
                                    <small class="text-muted">Date de clôture</small>
                                    <div class="input-group" [ngClass]="{ ' input-group-focus': focus3=== true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="tim-icons icon-calendar-60"></i>
                                            </span>
                                            <input class="form-control" formControlName="limitDate" [ngClass]="{ 'is-invalid': submitted && f.limitDate.errors }" type="date" (focus)="focus3 = true" (blur)="focus3 = false"/>
                                            <div *ngIf="f.limitDate.errors" class="invalid-feedback" role="alert">Choisisez une date de cloture</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input formControlName="isPrivate" type="checkbox" id="acceptTerms" class="form-check-input" />
                                                Evénement privé
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                            </label>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" (click)="onSubmit()" class="btn btn-miage btn-round btn-lg ml-3 mt-2">Créer l'événement
                                        </button>
                                    </div>
                                    <div class="col">
                                        <a class="btn btn-miage btn-simple btn-sm mt-3 ml-5" [routerLink]="['/home']">
                                           Annuler
                                        </a>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login-bg"></div>
                <app-scuares></app-scuares>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
